/* CSS is a style sheet language used for describing the presentation of 
    a document written in a markup language such as HTML or XML. */

/* Set font size for everything in <body> tag */
body {
    font-size: 100%;
}

/* Set font sizes*/
.text-large {
    font-size: large
}

/* Customize navigation link */
.nav-link:hover {
    background-color: #f5b82e;
    font-weight: bold;
    color: black;
}

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .green {
    color: #2e944b;
}

/* Use this instead of the "text-break" class if you want to set minimum width and maximum width */
/* #transaction-description
{
    word-break: break-word;
    word-wrap: break-word; 
    min-width: 150px; 
    max-width: 300px;
} */

/* Logo in the navigation bar */
#navbar-logo {
    width: 50px;
}

/* Text colors */
.text-blue {
    color: #537fbe;
}
.text-red {
    color: #ea433b;
}
.text-yellow {
    color: #f5b82e;
}
.text-green {
    color: #2e944b;
}
.text-brightblue{
    color: #00eeff;
}
.text-pink{
    color: #fd9af0;
}
.text-brightgreen {
    color: #AAFF00;
}
.text-orange {
    color: orange;
}

/* Labels in form group
.form-group label {
    float: left;
    padding-right: 5px;
    justify-content: center;
} */

.center {
    margin: auto;
}

.center-form{
    justify-content: center;
}

td {
    word-wrap: break-word;
    vertical-align: middle;
}
