/* CSS is a style sheet language used for describing the presentation of 
    a document written in a markup language such as HTML or XML. */

/* Set font size and background color for everything in <body> tag */
body {
    font-size: 100%;
    background-color: #fffee0;
}

/* Large font size */
.text-large {
    font-size: large
}

/* Customize navigation link */
.nav-link:hover {
    background-color: #f5b82e;
    font-weight: bold;
    color: black;
}

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .green {
    color: #2e944b;
}

/* Logo in the navigation bar */
#navbar-logo {
    width: 50px;
}

.navbar-toggler-icon {
    /* position: absolute;
    display: none; 
    flex-direction: column;
    justify-content: space-between; */
    background-color: yellow;
}

/* .bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
} */

/* Text colors */
.text-blue {
    color: #537fbe;
}
.text-red {
    color: #ea433b;
}
.text-yellow {
    color: #f5b82e;
}
.text-green {
    color: #2e944b;
}
.text-brightblue{
    color: #00eeff;
}
.text-pink{
    color: #fd9af0;
}
.text-brightgreen {
    color: #AAFF00;
}
.text-orange {
    color: rgb(255, 102, 0);
}

.center {
    margin: auto;
}

.center-form{
    justify-content: center;
}

td {
    word-wrap: break-word;
    vertical-align: middle;
}
