{% extends "layout.html" %}

{% block scripts %}
    <!-- Include javascript files (.js file) for this template -->
    <script src="static/scripts/add_transactions.js"></script>
{% endblock %}

{% block title %}
    Add Transactions
{% endblock %}

{% block main %}
    <div class="container py-5 d-flex justify-content-center text-center">
        <form id="add_transactions" action="/add_transactions" method="post">
            <div class="mb-3">
                <label for="date">Date (MM/DD/YYYY)</label>
                <input id="date" autocomplete="off" autofocus="" class="form-control w-auto center" name="date" placeholder="Date" type="date" value="{{ date }}" required>
            </div>
            <div class="form-floating mb-3">
                {% if not account %}
                    <!-- Make "account" input an required input and set default value to "Cash" -->
                    <input id="account" autocomplete="off" class="form-control mx-auto w-auto" name="account" placeholder="Account" type="text" value="Cash" maxlength="20" required>
                {% else %}
                    <input id="account" autocomplete="off" class="form-control mx-auto w-auto" name="account" placeholder="Account" type="text" value="{{ account }}" maxlength="20" required>
                {% endif %}
                <label for="account">Account</label>
            </div>
            <div class="form-floating mb-3">
                <input id="category" autocomplete="off" class="form-control mx-auto w-auto" name="category" placeholder="Category" type="text" value="{{ category }}" maxlength="20">
                <label for="category">Category</label>
            </div>
            <div class="form-floating mb-3">
                <textarea autocomplete="off" class="form-control mx-auto w-auto" name="description" placeholder="Description" type="text" maxlength="100">{{ description }}</textarea>
                <label for="description">Description</label>
            </div>
            <div class="form-floating mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="income" placeholder="Income (USD)" type="number" step="0.01" min="0" max="{{ 10**12 }}" value="{{ income }}">
                <label for="income">Income (USD)</label>
            </div>
            <div class="form-floating mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="expense" placeholder="Expense (USD)" type="number" step="0.01" min="0" max="{{ 10**12 }}" value="{{ expense }}">
                <label for="expense">Expense (USD)</label>
            </div>
            <button class="btn btn-primary" type="submit">Add transaction</button>
        </form>
    </div>
{% endblock %}
