{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- Image by https://www.pexels.com/photo/cute-corgi-in-front-of-a-laptop-5122188/
            and https://memegen.link/ -->
    <img alt="{{ top }}: {{ message }}" class="border img-fluid" 
        src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://images.pexels.com/photos/5122188/pexels-photo-5122188.jpeg&width=400&font=titilliumweb" 
        title="{{ top }}: {{ message }}">
{% endblock %}

{% block footer %}
    Image by <a href="https://www.pexels.com/photo/cute-corgi-in-front-of-a-laptop-5122188/">Pexels</a> and <a href="https://memegen.link/">Memegen.link</a>
{% endblock %}
